@import "styles";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 71px 15px 38px 15px;

  & .header-title {
    color: $primary-color;
    font-family: $font-tittle;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.72px;
    margin-bottom: 38px;
  }

  & .container-crew {
    display: flex;
    flex-direction: column;

    & .team-title {
      color: $primary-color;
      font-family: $font-description;
      font-size: 18px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    & .team-description {
      color: $primary-color;
      font-family: $font-description;
      font-size: 14px;
      line-height: 20px;
      width: 348px;
    }
  }
}

@media (min-width: 960px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 110px 243px 96px 243px;

    & .container-crew {
      flex-direction: column;
    }
  }
}
