@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 71px 20px 0 20px;
  display: flex;
  flex-direction: column
}

.creative-crew-title {
  width: 278px;
  height: 47px;
  font-family: $first-font;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.72px;
  margin-bottom: 38px;
}

.we-are-title {
  width: 117px;
  height: 27px;
  font-family: $second-font;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.information-team {
  font-family: $second-font;
  height: 87px;
  font-size: 14px;
  width: 333px;
}
